<% if user_signed_in? %>

	<% current_user.email %>
	
	

	
	<% else %>
	
	<h1>
	<%= link_to('Click here to download the picture.', new_user_session_path) %>
	</h1>
	<div id="instructions">
		These are the instructions for parents to download their
		children's pictures.
	</div>
	
	<h2>
		<%= link_to('Sign up', new_user_registration_path) %>
	</h2>
	
	<div id="disclaimerText">
		This will be your disclaimer.
	</div>
<% end %>

